body{
  background-image: url(./brickwall2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron{
  background-image: url(./mojo.jpg);
  background-size: cover;

}
.jumbotron a{
  color: white;

}
.jumbotron a:hover{
  color: lightgrey;
}
.jumbotron p, h1{
  margin-left: 15px;
}

.address p{
  color: white;
  font-size: 20px;
}
}
