body{
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: repeat;
  background-attachment: fixed;

}


.jumbotron {
  background-image: url("./mojo.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 6px;
  margin-top: 15px;
  padding: 0;

}

.jumbotron a{
  color: white;
  }

.jumbotron p, h1{
  margin-left: 15px;
}
.jumbotron a:hover{
  color: lightgrey;
}
.bigcontainer{

}

.col-md-6{
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 6px;
  margin-left:
  margin-right:

}
