body{
  margin: 0;
  padding: 0;
  background-image: url(brickwall2.jpg);
  background-size: cover;
  background-attachment: fixed;

}


.jumbotron {
  background-image: url("./mojo.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 6px;

}

.jumbotron a{
  color: white;
  }

.jumbotron p, h1{
  margin-left: 15px;
}
.jumbotron a:hover{
  color: lightgrey;
}
.bigcontainer{

}

.col-md-{
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;

}
